*, *::before, *::after {
    box-sizing: border-box; 
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
}

header{
    background-image: url(images/bg-main-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 30%;
    padding: 1rem 1.5rem;
    color: hsl(0, 0%, 100%);
    position: relative;
}

main {
    flex-basis: 65%;
}

.container {
    width: 95%;
    max-width: 1200px;
    padding: 2rem 1.5rem;
    margin: 0 auto;
}

.form {
    margin: auto;
    margin-top: 4rem;
    color: hsl(278, 68%, 11%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.90rem;
}

.back-card,
.front-card {
    width: 78vw;
    position: relative;
}

.front-card {
 position: absolute;
 top: 8.2rem;
 left: 1rem;
 height: 26vh;
 filter: drop-shadow(0px 8px 5px #666666);
}

#back-card-digit {
  position: absolute;
  right: 4rem;
  top: 7rem;
  font-size: 0.65rem;
}

.card-logo {
    position: absolute;
    top: 9rem;
    width: 23%;
    left: 2.5rem;
}

#front-card-digit {
    position: absolute;
    top: 13rem;
    left: 3rem;
    font-size: 1.1em;
}

.card-name-and-month {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 15.5rem;
    left: 2.8rem;
}

.form-name,
.form-number {
    display: flex;
    flex-direction: column;
}

.form-name,
.form-number,
.form-month {
    margin-top: 1.3rem;
}

.form-month {
    display: grid;
}

.flex-row {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 80px 80px minmax(50px, 1fr);
}

#card_name,
#month {
    font-size: 0.70rem;
    text-transform: uppercase;
}

#month {
    left: 11.5rem;
    position: absolute;
    display: flex;
}

#cardmonth {
    margin-left: -0.6rem;
}

#cardmonthyear {
    margin-right: 1rem;
}

#cardmonthcvc {
    margin-left: 0.7rem;
}

.cvc {
    margin-left: 3rem;
}

.form_card input{
    width: 100%;
    color: hsl(279, 6%, 55%);
    margin-top: 1em;
    padding: 1em 0;
    border: 2px solid hsl(270, 3%, 87%);
    border-radius: 6px;
    outline: none;
    padding-left: 1.2em;
}

.form_card input[type=text]:focus {
    border: 1px solid hsl(278, 94%, 30%);
    padding-left: 1.2rem;
  }
  
#error1,
#error2,
#error3,
#error4,
#error5{
    text-transform: none;
    font-size: 0.6rem;
    color: hsl(0, 100%, 66%);
    display: none;
}  

button {
    padding: 1em;
    margin-top: 1em;
    color: #fff;
    border-radius: 6px;
    border: none;
    font-family: inherit;
    width: 100%;
    font-size: 1.2rem;
} 

.btn,
#continue {
    background-color: hsl(278, 68%, 11%);
}

.thank_you {
    text-align: center;
    display: none;
}

.thank-p-msg {
    color: hsl(279, 6%, 55%);
}

.thank-msg {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 800px){
    body {
        display: flex;
       flex-direction: row;
    }

    header {
        background-image: url(images/bg-main-desktop.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 41vw;
        height: 100vh;
    }

    /* main {
        justify-content: center;
    } */

    .form {
        margin: 0 auto;
        max-width: 400px;
        margin-top: 12rem;
        margin-left: 20rem;
    }

    .back-card,
    .front-card {
        width: 100%;
    }

    .back-card {
        position: absolute;
        top: 27rem;
        left: 19rem;
    }

    #back-card-digit {
        top: 32.5rem;
        left: 37.5rem;
        font-size: 0.85em;
    }

    .front-card {
       left: 13rem;
        top: 11rem;
        filter: none;
    }

    .card-logo {
        top: 12rem;
        left: 14rem;
    }

    #front-card-digit {
        position: relative;
        left: 13rem;
        top: 13rem;
        font-size: 1.3rem;
    }

    .card-name-and-month {
        top: 21rem;
        left: 15rem;
    }

    #card_name,
    #month  {
        font-size: 0.8rem;
    }

    #month {
        left: 17rem;
    }
}